<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IICSDLService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52177/ICSDLService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IICSDLService" contract="ServiceReference1.IICSDLService"
                name="BasicHttpBinding_IICSDLService" />
        </client>
    </system.serviceModel>
</configuration>